Options FollowSymLinks
RewriteEngine On
RewriteRule ^StronaGlowna/([0-9a-zA-Z\-]+)/([0-9]+)/?$ modrewrite1.php?page=main&app=$1&id=$2 [L]
RewriteRule ^([0-9a-zA-Z\-]+)/?$ modrewrite1.php?page=$1 [L]
RewriteRule ^([0-9a-zA-Z\-]+)/([0-9a-zA-Z\-]+)/([0-9]+)/?$ modrewrite1.php?page=$1&app=$2&id=$3 [L]